* {
    font-family: 'Nunito', sans-serif;
}

:root {
    --theme-primary: #7E41E5;
    --theme-secondary: #E92567;
    --theme-tertiary: #F9DC46;
    --theme-visited: #89CFF0;
    --theme-path: yellow;
}
